.Header {
  align-items: center;
  backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  height: 12vh;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-info {
  margin: 2rem;
}

span , p {
  font-size: 1.7rem;
  font-weight: 600;
  padding-right: 1rem;
}

.Header__currency , .Header__expenses , .Header__user {
  align-items: center;
  border-bottom: 2px;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  justify-content: center;
}

svg {
  color: #03684f;
}
